<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<ul>
  <ng-container *ngIf="users.length > 0; else noUser">

    <li *ngFor="let user of users; index as idx; count as total; first as isFirst; last as isLast; even as isEven; odd as isOdd">
      <span>{{ user.name }} - {{ user.id }} - {{ user.phone }}</span>
      <br>
      <span>at index {{idx}} out of {{total}}</span>
      <br>
      <span *ngIf="isEven"> I am even number</span>
      <br>
      <span *ngIf="isOdd"> I am odd number</span>
      <br>
      <span *ngIf="isLast">I am last</span>
      <br>
      <span *ngIf="isFirst">I am first</span>
      <br><br><br>
    </li>
  </ng-container>
  <ng-template #noUser>
    no User
  </ng-template>
</ul>

<!-- cách khác -->
<!-- <ul>
  <ng-template
    ngFor
    [ngForOf]="users"
    let-user
    let-idx="index"
    let-total="count"
    let-isFirst="first"
    let-isLast="last"
    let-isEven="even"
    let-isOdd="odd"
  >
</ng-template>
  <li>
    <span>{{user.name}} - {{user.id}} - {{user.phone}}</span>
    <br />
    <span>at index {{ idx }} out of {{ total }}</span>
    <br />
    <span *ngIf="isEven"> I am even number</span>
    <br />
    <span *ngIf="isOdd"> I am odd number</span>
    <br />
    <span *ngIf="isLast">I am last</span>
    <br />
    <span *ngIf="isFirst">I am first</span>
    <br /><br /><br />
  </li>
</ul> -->

<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">
  {{ tag }}
</button>

<!-- có thể truy cập đến 
  $implicit: item implicit context variable 
  index: stt của item hiện tại
  count: dộ dài của arr
  first: true nếu như item đó là item đầu
  last: true nếu như item đó là item cuối
  even: true nếu như item đó là item ở vị trí chẵn
  odd: ngược lại even
-->
<!-- dòng li tương tự như for(let user of users) -->
